$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

html{
    height:100%;
}

body {
    margin: 0px;
    height:100%;
    width:100%;
    background: #fafafa;
}

